<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voice.applicetion">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.baidu.speech.APP_ID"
            android:value="11229974" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="ZUG1jdq23ghIKxSh8QbuAluD" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="IbMUbDl2dHSWM4vbhTkCcO4BTjN44nZn" />
        <service android:name="com.voice.applicetion" android:exported="false" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>